<%-include("main");-%>
<%-include("header");-%>
<%-include("nevber");-%>
<!---breadcrums start -->
<div class="container py-4 flex items-center gap-3">
    <a href="/" class="text-primary text-base">
        <i class='bx bxs-home-circle'></i>
    </a>
    <span class="text-sm text-gray-600 ">
        <i class='bx bx-chevrons-right'></i>
    </span>
    <p class="font-medium text-gray-500 ">SHOPPING CART</p>
    </div>
    <!---breadcrms end -->
   <!--cart start -->
    <div class="container lg:grid grid-cols-12 gap-6  pb-16 pt-4">
        <!---product cart start -->
        <div class="col-span-9">
            <!---cart title start -->
            <div class="bg-gray-200 py-2 pl-12 pr-20 mb-4 flex">
                <p class="text-gray-600 text-center">product</p>
                <p class="text-gray-600 text-center ml-auto mr-16 ">Quantity</p>
                <p class="text-gray-600 text-center ">Total</p>
            </div>
            <!---cart title end -->
            <!---shipping cart start -->
            <div class="space-y-4">
                <!---single cart start -->
                <div class="flex items-center justify-between gap-7 p-4 border border-gray-200 rounded ">
                    <!--single cart img sart -->
                    <div class="w-32 flex-shrink-0">
                        <img src="images/product/product1.jpg" class="w-full">
                    </div>
                    <!---single cart ing end -->
                    <!-- single cart content start -->
                    <div class="w-full">
                        <h2 class="text-gray-800 mb-3 text-lg font-semibold uppercase">MADELINE sofa</h2>
                        <p class="text-primary font-bold ">$300.00</p>
                        <p class="text-gray-500">Size:M</p>
                    </div>
                    <!-- single cart content end  -->
                    <!-- product quantity start -->
                    <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300">
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">-</div>
                        <div class="h-8 w-8 flex items-center justify-center">4</div>
                        <div class="h-8 w-8 flex items-center justify-center cursor-pointer select-none">+</div>
                    </div>
                    <!---product quantity end -->
                    <!-- total start -->
                    <div class="ml-auto">
                        <p class="text-primary text-lg font-bold">$1200.00</p>
                    </div>
                    <!-- total end -->
                    <!-- delete box start  -->
                    <div class="text-gray-600 hover:text-primary cursor-pointer">
                        <i class='bx bxs-trash-alt'></i>
                    </div>
                    <!-- delete box end -->
                </div>
                <!--single cart end -->
                  <!---single cart start -->
                  <div class="flex items-center justify-between gap-7 p-4 border border-gray-200 rounded ">
                    <!--single cart img sart -->
                    <div class="w-32 flex-shrink-0">
                        <img src="images/product/product9.jpg" class="w-full">
                    </div>
                    <!---single cart ing end -->
                    <!-- single cart content start -->
                    <div class="w-full">
                        <h2 class="text-gray-800 mb-3 text-lg font-semibold uppercase">GUYER Chair</h2>
                        <p class="text-primary font-bold ">$120.00</p>
                        <p class="text-gray-500">Size:L</p>
                    </div>
                    <!-- single cart content end  -->
                    <!-- product quantity start -->
                    <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300">
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">-</div>
                        <div class="h-8 w-8 flex items-center justify-center">2</div>
                        <div class="h-8 w-8 flex items-center justify-center cursor-pointer select-none">+</div>
                    </div>
                    <!---product quantity end -->
                    <!-- total start -->
                    <div class="ml-auto">
                        <p class="text-primary text-lg font-bold">$240.00</p>
                    </div>
                    <!-- total end -->
                    <!-- delete box start  -->
                    <div class="text-gray-600 hover:text-primary cursor-pointer">
                        <i class='bx bxs-trash-alt'></i>
                    </div>
                    <!-- delete box end -->
                </div>
                <!--single cart end -->
                 <!---single cart start -->
                 <div class="flex items-center justify-between gap-7 p-4 border border-gray-200 rounded ">
                    <!--single cart img sart -->
                    <div class="w-24 flex-shrink-0">
                        <img src="images/grid-img/headphone-2.png" class="w-full">
                    </div>
                    <!---single cart ing end -->
                    <!-- single cart content start -->
                    <div class="w-full ml-8">
                        <h2 class="text-gray-800 mb-3 text-lg font-semibold uppercase">Bose Headphone</h2>
                        <p class="text-primary font-bold ">$160.00</p>
                        <p class="text-gray-500">Size:Xl</p>
                    </div>
                    <!-- single cart content end  -->
                    <!-- product quantity start -->
                    <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300">
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">-</div>
                        <div class="h-8 w-8 flex items-center justify-center">1</div>
                        <div class="h-8 w-8 flex items-center justify-center cursor-pointer select-none">+</div>
                    </div>
                    <!---product quantity end -->
                    <!-- total start -->
                    <div class="ml-auto">
                        <p class="text-primary text-lg font-bold">$160.00</p>
                    </div>
                    <!-- total end -->
                    <!-- delete box start  -->
                    <div class="text-gray-600 hover:text-primary cursor-pointer">
                        <i class='bx bxs-trash-alt'></i>
                    </div>
                    <!-- delete box end -->
                </div>
                <!--single cart end -->
                <!---single cart start -->
                <div class="flex items-center justify-between gap-7 p-4 border border-gray-200 rounded ">
                    <!--single cart img sart -->
                    <div class="w-32 flex-shrink-0">
                        <img src="images/product/product12.jpg" class="w-full">
                    </div>
                    <!---single cart ing end -->
                    <!-- single cart content start -->
                    <div class="w-full">
                        <h2 class="text-gray-800 mb-3 text-lg font-semibold uppercase">Black ARCHIE</h2>
                        <p class="text-primary font-bold ">$400.00</p>
                        <p class="text-gray-500">Size:M</p>
                    </div>
                    <!-- single cart content end  -->
                    <!-- product quantity start -->
                    <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300">
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">-</div>
                        <div class="h-8 w-8 flex items-center justify-center">2</div>
                        <div class="h-8 w-8 flex items-center justify-center cursor-pointer select-none">+</div>
                    </div>
                    <!---product quantity end -->
                    <!-- total start -->
                    <div class="ml-auto">
                        <p class="text-primary text-lg font-bold">$400.00</p>
                    </div>
                    <!-- total end -->
                    <!-- delete box start  -->
                    <div class="text-gray-600 hover:text-primary cursor-pointer">
                        <i class='bx bxs-trash-alt'></i>
                    </div>
                    <!-- delete box end -->
                </div>
                <!--single cart end -->
            </div>
            <!---shipping cart end -->
        </div>
        <!-- product cart end-->
        <!-- order start  -->
        <div class="col-span-3 border border-gray-200 px-4 py-4 rounded lg:mt-0 sm:mt-6">
            <h4 class="text-gray-600 text-lg mb-4 font-semibold">ORDER SUMMARY</h4>
            <div class="space-y-1 text-gray-600 pb-3 border-b border-gray-200">
                <div class="flex justify-between font-medium">
                    <p>Subtotal</p>
                    <p>$300</p>
                </div>
                <div class="flex justify-between">
                    <p>Delivery</p>
                    <p>Free</p>
                </div>
                <div class="flex justify-between">
                    <p>Tax</p>
                    <p>Free</p>
                </div>
            </div>
            <div class="flex justify-between my-3 text-gray-600 uppercase font-semibold">
                <p>Total</p>
                <p>$300</p>
            </div>
            <!-- serch bar start-->
            <div class="flex mb-5">
                <input type="text" class="pl-4 w-full border border-r-0 border-primary py-2 px-3 rounded-l-md focus:ring-primary focus:border-primary text-sm" placeholder="Coupon">
               <button type="submit" class="bg-primary border border-primary text-white px-5 font-semibold rounded-r-md hover:bg-transparent hover:text-primary transition text-sm ">
                Apply
               </button>
            </div>
            <!-- serch bar end  -->
            <!-- process part start -->
            <a href="/checkout" class="bg-primary text-white border border-primary px-4 py-3 font-semibold rounded-md uppercase hover:bg-transparent hover:text-primary transition text-sm w-full block text-center"> Process to checkout</a>
            <!-- process part end  -->
        </div>
        <!-- order end  -->
    </div>
   <!---cart end -->
    <%-include("footer");-%>
