<footer class=" py-16 pb-12 border-t border-gray-100 bg-[#f3f3f3]">
    <div class=" container grid lg:grid-cols-4 md:grid-cols-1 md:gap-3">
      <!--footer text start -->
      <div class="col-span-1 space-y-8">
        <img src="images/logo.svg" alt="" srcset="" class="w-30">
        <p class="text-gray-500">You may not access or use the Site for any purpose other than that for which we make the Site available.</p>
      <div class="flex space-x-6">
        <a href="#" class="text-4xl font-medium text-[#3B5998] hover:text-gray-400">
          <i class='bx bxl-facebook-circle'></i>
        </a>
        <a href="#" class="text-4xl font-medium text-[#D53982] hover:text-gray-400">
          <i class='bx bxl-instagram-alt'></i>
        </a>
        <a href="#" class="text-4xl font-medium text-[#00ACEE] hover:text-gray-400">
          <i class='bx bxl-twitter'></i>
        </a>

      </div>
      </div>
      <!--footer text end -->

      <!--footer link start -->
        <div>
          <h3 class="text-lg font-bold text-black uppercase mb-5 ">My Account</h3>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">Orders</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">Wishlist</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">Track Order</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">Affiliate Marketing </a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">Return Order</a>
          </div>
        </div>
        <div>
          <h3 class="text-lg font-bold text-black uppercase mb-5 ">INFORMATION</h3>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">About Us</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">Return Policy</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">Terms & condition</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">Privacy Policy</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">FAQ</a>
          </div>
        </div>
        <div>
          <h3 class="text-lg font-bold text-black uppercase mb-5 ">CONTACT</h3>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">1205 Central Road,Dhaka Bnagladesh</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">+566 477 256, +566 254 575</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">info@RAFCART.com</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">10am - 12pm</a>
          </div>
          <div class="mt-4 space-y-4">
            <a href="#" class="text-lg text-gray-500 hover:text-primary">24/7 support</a>
          </div>
        </div>
      <!--footer link end -->
    </div>
  </footer>
  
  <div class="bg-gray-800 py-4">
    <div class="container flex items-center justify-between">
        <a href="https://www.facebook.com/hasibul.isiam.1/" target="_blank" rel="noopener noreferrer"class="text-white font-bold">© Hasibul islam - All Rights Reserved</a>
    <div>
   <img src="images/methods.png" alt="" class="h-5">
    </div>
      </div>
  </div>