<%- include("main");-%>
    <!--- header start ----->
   <%- include("header");-%>
    <!---header end -->
     
    <!--navber start -->
    <%- include("nevber");-%>
    <!--nevber end -->
    <!--banner start-->
    <div class="bg-cover bg-no-repeat bg-center py-36 w-full" style="background-image:url(images/banner-1.jpg);">
      <div class="container">
        <h1 class="text-6xl text-gray-800 font-black mb-6 capitalize">
          Best Collection For <br> Home Decoration 
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Necessitatibus eaque debitis neque adipisci 
        </p>
        <div class="mt-12">
          <a href="http://#" class="bg-primary border border-primary text-white font-bold py-3 px-8 rounded hover:bg-transparent hover:text-primary hover:transition duration-300">SHOP NOW</a>
        </div>
      </div>
    </div>
    <!-- bannner end -->
    <!---feature start -->
    <div class="container py-16">
      <div class="w-10/12 grid lg:grid-cols-3 sm:grid-cols-1 gap-6 mx-auto justify-center">
        <!--singal card start-->
        <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
          <img src="images/delivery-van.svg" alt="" class="w-12 h-12 object-contain">
          <div>
            <h3 class="text-lg font-semibold text-black capitalize">
              Free shipping
            </h3>
            <p class="text-gray-500 text-sm">
              Orders over $500
            </p>
          </div>
        </div>
        
        <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
          <img src="images/money-back.svg" alt="" class="w-12 h-12 object-contain">
          <div>
            <h3 class="text-lg font-semibold text-black capitalize">
              Money Returns
            </h3>
            <p class="text-gray-500 text-sm">
               30 Days money return
            </p>
          </div>
        </div>

        <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
          <img src="images/service-hours.svg" alt="" class="w-12 h-12 object-contain">
          <div>
            <h4 class="text-lg font-semibold text-black capitalize">
              24/7 Support
            </h4>
            <p class="text-gray-500 text-sm">
              Customer support
            </p>
          </div>
        </div>
      </div>
    </div>
    <!---feature end -->
    <!---offer start -->
    <div class="container py ">
      <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-6">
      <div class="flex items-center justify-between bg-[#FBE3E4] p-5 overflow-hidden">
        <div class="">
          <h3 class="text-primary text-lg font-semibold pb-2">30% offer</h3>
          <h4 class="font-bold text-2xl pb-2">Free Shipping</h4>
          <p class="text-gray-500">Attractive Natural Furniture</p>
          <div class="mt-5">
            <a href="http://#" class="bg-primary border border-primary text-white font-bold py-[6px] px-[15px] rounded hover:bg-transparent hover:text-primary hover:transition duration-300">SHOP NOW</a>
          </div>
          
        </div>
         <img src="images/sofa-1.png" alt="" class="w-48 h-44 hover:scale-x-110 hover:scale-y-110 transition-all duration-300">
      </div>
      <div class="flex items-center justify-between bg-[#EDECEC] p-5 overflow-hidden">
        <div class="">
          <h3 class="text-primary text-lg font-semibold pb-2">50% offer</h3>
          <h4 class="font-bold text-2xl pb-2">Flash Sale</h4>
          <p class="text-gray-500">Attractive Natural Furniture</p>
          <div class="mt-5">
            <a href="http://#" class="bg-primary border border-primary text-white font-bold py-[6px] px-[15px] rounded hover:bg-transparent hover:text-primary hover:transition duration-300">SHOP NOW</a>
          </div>
        </div>
        <div>
          <img src="images/sofa-2.png" alt="" class="w-48 h-44 hover:scale-x-110 hover:scale-y-110 transition-all duration-300">
      </div>
        </div>
         
    </div>

    </div>
    <!--offer end -->
    <!--categores start -->
    <div class="container py-16">
      <h1 class="text-3xl font-semibold text-gray-800 mb-6">SHOP BY CATEGORY</h1>
     <div class="grid lg:grid-cols-3 gap-3">
      <!---single categores start -->
      <div class="relative  rounded-sm overflow-hidden group">
        <img src="images/cat/category-1.jpg" alt="" class="w-full">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-white text-xl font-semibold font-Roboto group-hover:bg-opacity-50 hover:transition duration-500">Bedroom</a>
      </div>

      <div class=" relative rounded-sm overflow-hidden group">
        <img src="images/cat/category-2.jpg" alt="" class="w-full">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-white text-xl font-semibold font-Roboto group-hover:bg-opacity-50 hover:transition duration-500">Mattresses</a>
      </div>

      <div class="relative rounded-sm overflow-hidden group">
        <img src="images/cat/category-3.jpg" alt="" class="w-full">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-white text-xl font-semibold font-Roboto group-hover:bg-opacity-50 hover:transition duration-500">Office</a>
      </div>

      <div class="relative rounded-sm overflow-hidden group">
        <img src="images/cat/category-4.jpg" alt="" class="w-full">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-white text-xl font-semibold font-Roboto group-hover:bg-opacity-50 hover:transition duration-500">Outdoor</a>
      </div>

      <div class="relative rounded-sm overflow-hidden group">
        <img src="images/cat/category-5.jpg" alt="" class="w-full">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-white text-xl font-semibold font-Roboto group-hover:bg-opacity-50 hover:transition duration-500">Lounges & Sofas</a>
      </div>

      <div class="relative rounded-sm overflow-hidden group">
        <img src="images/cat/category-6.jpg" alt="" class="w-full">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-white text-xl font-semibold font-Roboto group-hover:bg-opacity-50 hover:transition duration-500">Living & Dining</a>
      </div>
        <!--single categores end --->
     </div>
    </div>
    <!---categores end -->
    <!---- product area start  -->
    <div class="container py-16">
      <h1 class="text-3xl font-semibold text-gray-800 mb-6">TOP NEW ARRIVAL</h1>
      <div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-6">
        <!--single product start -->
        <div class="bg-white shadow rounded overflow-hidden group">
          <!--product images start -->
        <div class="relative">
          <h2 class=" absolute bg-green-600 text-white py-2 px-2 rounded-md left-3 top-3">25%</h2>
          <img src="images/product/product9.jpg" alt="" class="w-full">
          <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
            <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
              <i class='bx bx-search-alt-2'></i>
            </a>

            <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
              <i class='bx bx-heart'></i>
            </a>
            
          </div>
          
        </div>
        <!--product imgages end -->
        <!--product content start -->
          <div class="pt-4 pb4 px-4">
            <a href="#">
              <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">GUYER Chair</h4>
            </a>
            <p class="font-medium text-base mb-2 text-[#464545]">Queen Headboard</p>
            <p class=" font-extrabold text-primary text-xl mb-2">$120.00</p>
            <div class="flex items-center">
              <div class="flex gap-1 text-yellow-400 text-sm">
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star-half'></i></span>
              </div>
              <div class="text-xs text-gray-600 ml-3">(190)</div>
            </div>
           
          </div>
        <!--product content end -->
        <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
      </div>
        <!--single product end -->

         <!--single product start -->
         <div class="bg-white shadow rounded overflow-hidden group">
          <!--product images start -->
        <div class="relative">
          <img src="images/product/product1.jpg" alt="" class="w-full">
          <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
            <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
              <i class='bx bx-search-alt-2'></i>
            </a>

            <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
              <i class='bx bx-heart'></i>
            </a>
            
          </div>
          
        </div>
        <!--product imgages end -->
        <!--product content start -->
          <div class="pt-4 pb4 px-4">
            <a href="#">
              <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">MADELINE sofa</h4>
            </a>
            <p class="font-medium text-base mb-2 text-[#464545]">Fabric Sofa Bed</p>
            <p class=" font-extrabold text-primary text-xl mb-2">$300.00</p>
            <div class="flex items-center">
              <div class="flex gap-1 text-yellow-400 text-sm">
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bx-star'></i></span>
              </div>
              <div class="text-xs text-gray-600 ml-3">(220)</div>
            </div>
           
          </div>
        <!--product content end -->
        <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
      </div>
        <!--single product end -->

         <!--single product start -->
         <div class="bg-white shadow rounded overflow-hidden group">
          <!--product images start -->
        <div class="relative">
          <h2 class=" absolute bg-black-600 text-white py-2 px-2 rounded-md left-3 top-3">HOT</h2>
          <img src="images/product/product8.jpg" alt="" class="w-full">
          <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
            <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
              <i class='bx bx-search-alt-2'></i>
            </a>

            <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
              <i class='bx bx-heart'></i>
            </a>
            
          </div>
          
        </div>
        <!--product imgages end -->
        <!--product content start -->
          <div class="pt-4 pb4 px-4">
            <a href="#">
              <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">BIANCO Chair</h4>
            </a>
            <p class="font-medium text-base mb-2 text-[#464545]">Fabric Accent Chair</p>
            <p class=" font-extrabold text-primary text-xl mb-2">$160.00</p>
            <div class="flex items-center">
              <div class="flex gap-1 text-yellow-400 text-sm">
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
              </div>
              <div class="text-xs text-gray-600 ml-3">(100)</div>
            </div>
           
          </div>
        <!--product content end -->
        <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
      </div>
        <!--single product end -->

         <!--single product start -->
         <div class="bg-white shadow rounded overflow-hidden group">
          <!--product images start -->
        <div class="relative">
          
          <img src="images/product/product10.jpg" alt="" class="w-full">
          <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
            <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
              <i class='bx bx-search-alt-2'></i>
            </a>

            <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
              <i class='bx bx-heart'></i>
            </a>
            
          </div>
          
        </div>
        <!--product imgages end -->
        <!--product content start -->
          <div class="pt-4 pb4 px-4">
            <a href="#">
              <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">PELAGIA Lounge</h4>
            </a>
            <p class="font-medium text-base mb-2 text-[#464545]">Outdoor Modular 
            </p>
            <p class=" font-extrabold text-primary text-xl mb-2">$190.00</p>
            <div class="flex items-center">
              <div class="flex gap-1 text-yellow-400 text-sm">
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star'></i></span>
                <span><i class='bx bxs-star-half'></i></span>
              </div>
              <div class="text-xs text-gray-600 ml-3">(130)</div>
            </div>
           
          </div>
        <!--product content end -->
        <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
      </div>
        <!--single product end -->

      </div>
    </div>
    <!---product area end -->
    <!--- add area start -->
    <div class="container py-16">
      <a href="#">
        <img src="images/offer.jpg" alt="" class="w-full rounded-sm">
      </a>
    </div>
    <!--add area end --->
      <!-- product part-2  start --->
      <div class="container">
        <h1 class="text-3xl font-semibold text-gray-800 mb-6">RECOMENDED FOR YOU</h1>
        <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6">
          <!--single product start -->
          <div class="bg-white shadow rounded overflow-hidden group">
            <!--product images start -->
          <div class="relative">
            <h2 class=" absolute bg-yellow-500 text-white py-2 px-2 rounded-md left-3 top-3">50%</h2>
            <img src="images/product/product2.jpg" alt="" class="w-full">
            <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-search-alt-2'></i>
              </a>
  
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-heart'></i>
              </a>
              
            </div>
            
          </div>
          <!--product imgages end -->
          <!--product content start -->
            <div class="pt-4 pb4 px-4">
              <a href="#">
                <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">PELAGIA Lounge</h4>
              </a>
              <p class="font-medium text-base mb-2 text-[#464545]">Outdoor Modular Lounge</p>
              <p class=" font-extrabold text-primary text-xl mb-2">$450.00</p>
              <div class="flex items-center">
                <div class="flex gap-1 text-yellow-400 text-sm">
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star-half'></i></span>
                </div>
                <div class="text-xs text-gray-600 ml-3">(60)</div>
              </div>
             
            </div>
          <!--product content end -->
          <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
        </div>
          <!--single product end -->
  
           <!--single product start -->
           <div class="bg-white shadow rounded overflow-hidden group">
            <!--product images start -->
          <div class="relative">
            <img src="images/product/product3.jpg" alt="" class="w-full">
            <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-search-alt-2'></i>
              </a>
  
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-heart'></i>
              </a>
              
            </div>
            
          </div>
          <!--product imgages end -->
          <!--product content start -->
            <div class="pt-4 pb4 px-4">
              <a href="#">
                <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">AVERY bed</h4>
              </a>
              <p class="font-medium text-base mb-2 text-[#464545]">Queen Bed</p>
              <p class=" font-extrabold text-primary text-xl mb-2">$550.00</p>
              <div class="flex items-center">
                <div class="flex gap-1 text-yellow-400 text-sm">
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bx-star'></i></span>
                </div>
                <div class="text-xs text-gray-600 ml-3">(60)</div>
              </div>
             
            </div>
          <!--product content end -->
          <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
        </div>
          <!--single product end -->
  
           <!--single product start -->
           <div class="bg-white shadow rounded overflow-hidden group">
            <!--product images start -->
          <div class="relative">
            <h2 class=" absolute bg-black-600 text-white py-2 px-2 rounded-md left-3 top-3">HOT</h2>
            <img src="images/product/product4.jpg" alt="" class="w-full">
            <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-search-alt-2'></i>
              </a>
  
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-heart'></i>
              </a>
              
            </div>
            
          </div>
          <!--product imgages end -->
          <!--product content start -->
            <div class="pt-4 pb4 px-4">
              <a href="#">
                <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">white bed</h4>
              </a>
              <p class="font-medium text-base mb-2 text-[#464545]">king Bed</p>
              <p class=" font-extrabold text-primary text-xl mb-2">$600.00</p>
              <div class="flex items-center">
                <div class="flex gap-1 text-yellow-400 text-sm">
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                </div>
                <div class="text-xs text-gray-600 ml-3">(29)</div>
              </div>
             
            </div>
          <!--product content end -->
          <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
        </div>
          <!--single product end -->
  
           <!--single product start -->
           <div class="bg-white shadow rounded overflow-hidden group">
            <!--product images start -->
          <div class="relative">
            
            <img src="images/product/product10.jpg" alt="" class="w-full">
            <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-search-alt-2'></i>
              </a>
  
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-heart'></i>
              </a>
              
            </div>
            
          </div>
          <!--product imgages end -->
          <!--product content start -->
            <div class="pt-4 pb4 px-4">
              <a href="#">
                <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">PELAGIA Lounge</h4>
              </a>
              <p class="font-medium text-base mb-2 text-[#464545]">Outdoor Modular 
              </p>
              <p class=" font-extrabold text-primary text-xl mb-2">$190.00</p>
              <div class="flex items-center">
                <div class="flex gap-1 text-yellow-400 text-sm">
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star-half'></i></span>
                </div>
                <div class="text-xs text-gray-600 ml-3">(130)</div>
              </div>
             
            </div>
          <!--product content end -->
          <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
        </div>
          <!--single product end -->
        </div>
      </div>
      <!---product part-2 end-->
      <!---product part-3 start -->
      <div class="container pt-7 pb-8">
        <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6">
           <!--single product start -->
           <div class="bg-white shadow rounded overflow-hidden group">
            <!--product images start -->
          <div class="relative">
            <img src="images/product/product1.jpg" alt="" class="w-full">
            <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-search-alt-2'></i>
              </a>
  
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-heart'></i>
              </a>
              
            </div>
            
          </div>
          <!--product imgages end -->
          <!--product content start -->
            <div class="pt-4 pb4 px-4">
              <a href="#">
                <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">MADELINE sofa</h4>
              </a>
              <p class="font-medium text-base mb-2 text-[#464545]">Fabric Sofa Bed</p>
              <p class=" font-extrabold text-primary text-xl mb-2">$300.00</p>
              <div class="flex items-center">
                <div class="flex gap-1 text-yellow-400 text-sm">
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bx-star'></i></span>
                </div>
                <div class="text-xs text-gray-600 ml-3">(220)</div>
              </div>
             
            </div>
          <!--product content end -->
          <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
        </div>
          <!--single product end -->

           <!--single product start -->
           <div class="bg-white shadow rounded overflow-hidden group">
            <!--product images start -->
          <div class="relative">
            <h2 class=" absolute bg-black-600 text-white py-2 px-2 rounded-md left-3 top-3">HOT</h2>
            <img src="images/product/product8.jpg" alt="" class="w-full">
            <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-search-alt-2'></i>
              </a>
  
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-heart'></i>
              </a>
              
            </div>
            
          </div>
          <!--product imgages end -->
          <!--product content start -->
            <div class="pt-4 pb4 px-4">
              <a href="#">
                <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">BIANCO Chair</h4>
              </a>
              <p class="font-medium text-base mb-2 text-[#464545]">Fabric Accent Chair</p>
              <p class=" font-extrabold text-primary text-xl mb-2">$160.00</p>
              <div class="flex items-center">
                <div class="flex gap-1 text-yellow-400 text-sm">
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                </div>
                <div class="text-xs text-gray-600 ml-3">(100)</div>
              </div>
             
            </div>
          <!--product content end -->
          <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
        </div>
          <!--single product end -->

           <!--single product start -->
           <div class="bg-white shadow rounded overflow-hidden group">
            <!--product images start -->
          <div class="relative">
            <img src="images/product/product9.jpg" alt="" class="w-full">
            <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-search-alt-2'></i>
              </a>
  
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-heart'></i>
              </a>
              
            </div>
            
          </div>
          <!--product imgages end -->
          <!--product content start -->
            <div class="pt-4 pb4 px-4">
              <a href="#">
                <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">GUYER Chair</h4>
              </a>
              <p class="font-medium text-base mb-2 text-[#464545]">Queen Headboard</p>
              <p class=" font-extrabold text-primary text-xl mb-2">$120.00</p>
              <div class="flex items-center">
                <div class="flex gap-1 text-yellow-400 text-sm">
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star-half'></i></span>
                </div>
                <div class="text-xs text-gray-600 ml-3">(190)</div>
              </div>
             
            </div>
          <!--product content end -->
          <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
        </div>
          <!--single product end -->

           <!--single product start -->
           <div class="bg-white shadow rounded overflow-hidden group">
            <!--product images start -->
          <div class="relative">
            <h2 class=" absolute bg-yellow-500 text-white py-2 px-2 rounded-md left-3 top-3">25%</h2>
            <img src="images/product/product12.jpg" alt="" class="w-full">
            <div class="absolute inset-0 hover:bg-black hover:bg-opacity-40 flex items-center justify-center  gap-2 opacity-0 group-hover:opacity-100">
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-search-alt-2'></i>
              </a>
  
              <a href="#" class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition ">
                <i class='bx bx-heart'></i>
              </a>
              
            </div>
            
          </div>
          <!--product imgages end -->
          <!--product content start -->
            <div class="pt-4 pb4 px-4">
              <a href="#">
                <h4 class="font-semibold text-lg mb-2 text-gray-800 hover:text-primary transition">Black ARCHIE</h4>
              </a>
              <p class="font-medium text-base mb-2 text-[#464545]">Black Bedside</p>
              <p class=" font-extrabold text-primary text-xl mb-2">$400.00</p>
              <div class="flex items-center">
                <div class="flex gap-1 text-yellow-400 text-sm">
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star'></i></span>
                  <span><i class='bx bxs-star-half'></i></span>
                </div>
                <div class="text-xs text-gray-600 ml-3">(166)</div>
              </div>
             
            </div>
          <!--product content end -->
          <a href="#" class=" uppercase block mt-3 py-1 w-full text-center text-white rounded-b bg-primary border border-primary hover:bg-transparent hover:text-primary transition">Add to cart</a>
        </div>
          <!--single product end -->

        </div>
      </div>
      <!-- product part-3 end -->
      <!--footer start -->
      <%- include("footer");-%>
      <!--footer end -->
  </body>
</html>
