<%-include("main");-%>
<%-include("header");-%>
<%-include("nevber");-%>
<!---breadcrums start -->
<div class="container py-4 flex items-center gap-3">
    <a href="/" class="text-primary text-base">
        <i class='bx bxs-home-circle'></i>
    </a>
    <span class="text-sm text-gray-600 ">
        <i class='bx bx-chevrons-right'></i>
    </span>
    <p class="font-medium text-gray-500 ">Account</p>
    </div>
    <!---breadcrms end -->
    <!----account start -->
    <div class=" container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
        <!----sideber start -->
        <div class="col-span-3">
            <!--account pic start -->
            <div class="flex items-center px-4 py-3 shadow gap-4">
                <div class="flex-shrink-0">
                    <img src="/images/hasibul.jpg" class="rounded-full w-16 h-16 border border-gray-200 p-1 hover:border-primary object-cover">
                </div>
                <div class="flex-grow">
                    <p class="text-gray-600">Hello,</p>
                    <h4 class="text-gray-800 font-semibold">
                        Hasibul Islam
                    </h4>
                </div>
            </div>
            <!--profile link start -->
            <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
                <!--- single link start-->
                <div class="space-y-1 pl-8">
                    <a href="/account" class="text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bxs-id-card'></i></span>
                        Manage account
                    </a>
                    <a href="/profileInfo" class="hover:text-primary font-medium relative capitalize block">
                        Profile information
                    </a>

    <a href="/manageAddress" class="hover:text-primary font-medium relative capitalize block">
                        Manage address
                    </a>
                    <a href="/changepassword" class="hover:text-primary font-medium relative capitalize block">
                        change password
                    </a>
                </div>
                <!---single link end -->
                <!---single link part-2 start -->
                <div class="space-y-1 pl-8 pt-4">
                    <a href="#" class="hover:text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bx-gift'></i></span>
                        My order history
                    </a>
                    <a href="#" class="hover:text-primary font-medium relative capitalize block">
                        my returns
                    </a>
                    <a href="#" class="hover:text-primary font-medium relative capitalize block">
                        my cancellations
                    </a>
                    <a href="#" class="hover:text-primary font-medium relative capitalize block">
                        my reviews
                    </a>
                </div>
                <!--single link part -2- end -->
                <!--part-3 start -->
                <div class="space-y-1 pl-8 pt-4">
                    <a href="#" class="hover:text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bxs-credit-card'></i></span>
                        Payment methods
                    </a>
                    <a href="#" class="hover:text-primary font-medium relative capitalize block">
                        Voucher
                    </a>
                    </div>
                <!---part -3 end -->
                <!-- part -4 start -->
                <div class="space-y-1 pl-8 pt-4">
                    <a href="/wish" class="hover:text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bx-heart'></i></span>
                        my wishlist
                    </a>
                    </div>
                <!---part 4 end -->
                <!---part-5 start -->
                <div class="space-y-1 pl-8 pt-4">
                    <a href="#" class="hover:text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bx-log-out-circle bx-rotate-180' ></i></span>
                        logout
                    </a>
                    </div>
                <!---part-5 end -->
            </div>
            <!---profile link end -->
        </div>
        <!--sideber end -->
        <!--Manage Address start -->
       <div class=" col-span-9 shadow rounded px-6 pt-5 pb-7">
            <h4 class="text-lg font-semibold capitalize mb-4">Manage Address</h4>
            <div class="space-y-4">
                <!---info row  start-->
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="text" class="text-gray-600 mb-2 block ">First Name</label>
                         <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-500 trxt-sm rounded placeholder-gray-400 focus:border-primary focus:ring-0" placeholder="fast name" >
                    </div>
                    <div>
                        <label for="text" class="text-gray-600 mb-2 block ">Last Name</label>
                         <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-500 trxt-sm rounded placeholder-gray-400 focus:border-primary focus:ring-0" placeholder="last name" >
                    </div>
                </div>
                <!---info row end-->
                  <!---info row  start-->
                  <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="text" class="text-gray-600 mb-2 block ">Country</label>
                         <select type="date" class="w-full block border border-gray-300 px-4 py-3 text-gray-500 trxt-sm rounded placeholder-gray-400 focus:border-primary focus:ring-0" placeholder="fast name" >
                            <option value="">Bangladesh</option>
                            <option value="">India</option>
                            <option value="">Nepal</option>
                            <option value="">Dubai</option>
                            <option value="">Qatar</option>
                            <option value="">Canada</option>
                            <option value="">UAE</option>
                            <option value="">England</option>
                            <option value="">USA</option>
                            <option value="">Italy</option>
                            <option value="">Other</option>
                         </select>
                    </div>
                    <div>
                        <label for="text" class="text-gray-600 mb-2 block ">City</label>
                         <select class="w-full block border border-gray-300 px-4 py-3 text-gray-500 trxt-sm rounded placeholder-gray-400 focus:border-primary focus:ring-0">
                            <option value="">Dhaka</option>
                            <option value="">Chittagong</option>
                            <option value="">Sylhet</option>
                            <option value="">Khulna</option>
                            <option value="">Rajshahi</option>
                            <option value="">Rangpur</option>
                            <option value="">Mymensingh</option>
                            <option value="">Barishal</option> 
                            <option value="">Other</option>
                         </select>
                    </div>
                </div>
                <!---info row end-->
                  <!---info row  start-->
                  <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="text" class="text-gray-600 mb-2 block ">Corporation</label>
                         <select class="w-full block border border-gray-300 px-4 py-3 text-gray-500 trxt-sm rounded placeholder-gray-400 focus:border-primary focus:ring-0">
                            <option value="">Barishal City Corporation</option>
                            <option value="">Chittagong City Corporation</option>
                            <option value="">Comilla City Corporation</option>
                            <option value="">Dhaka North City Corporation</option>
                            <option value="">Dhaka South City Corporation</option>
                            <option value="">Gazipur City Corporation</option>
                            <option value="">Narayanganj City Corporation</option>
                            <option value="">Khulna City Corporation</option>
                            <option value="">Mymensingh City Corporation</option>
                            <option value="">Rajshahi City Corporation</option>
                            <option value="">Rangpur City Corporation</option>
                            <option value="">Sylhet City Corporation</option>
                            <option value="">Other</option>
                         </select>
                    </div>
                    <div>
                        <label for="text" class="text-gray-600 mb-2 block ">District Name</label>
                         <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-500 trxt-sm rounded placeholder-gray-400 focus:border-primary focus:ring-0" placeholder="Chandpur" >
                    </div>
                </div>
                <!---info row end-->
              
                <div>
                    <label for="text" class="text-gray-600 mb-2 block ">Full Address</label>
                     <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-500 trxt-sm rounded placeholder-gray-400 focus:border-primary focus:ring-0">
                </div>
              
                <!--button start -->
                <div class="mt-4">
                    <button type="submit" class="px-6 py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-semibold">
                        Save
                    </button>
                </div>
                <!--button end -->
               </div>
       </div>
      
        <!---Manage Address end -->
    </div>
    <!--account end-->
    <%-include("footer");-%>