<nav class=bg-gray-800>
    <div class="container flex">
      <!--all categary start -->
      <div class="px-8 py-4 flex items-center cursor-pointer bg-primary relative group" >
        <span class="text-white">
          <i class="fa-solid fa-bars"></i>
        </span>
        <span class="capitalize m-2 text-white">All categary</span>
        <!--dopdown-->
        <div class="absolute w-full left-0 top-full bg-white shadow-md py-3 divide-y divide-gray-300 divide-dashed opacity-0 group-hover:opacity-100 transition duration-300 invisible group-hover:visible z-50">
          <a href="http://#" class="flex items-center py-3 px-6 hover:bg-gray-100 transition">
            <span class="text-primary1 text-xl object-contain">
              <i class="fa-solid fa-person"></i>
            </span>
            <span class="ml-6 text-gray-600 text-xl">Man</span>
          </a>

          <a href="http://#" class="flex items-center py-3 px-6 hover:bg-gray-100 transition">
            <span class="text-primary1 text-xl object-contain">
              <i class="fa-solid fa-person-dress"></i>
            </span>
            <span class="ml-6 text-gray-600 text-xl">Woman</span>
          </a>

          <a href="http://#" class="flex items-center py-3 px-6 hover:bg-gray-100 transition">
            <span class="text-primary1 text-xl object-contain">
              <i class="fa-solid fa-mobile"></i>
            </span>
            <span class="ml-6 text-gray-600 text-xl">Mobile</span>
          </a>

          <a href="http://#" class="flex items-center py-3 px-6 hover:bg-gray-100 transition">
            <span class="text-primary1 text-xl object-contain">
              <i class='bx bx-car'></i>
            </span>
            <span class="ml-6 text-gray-600 text-xl">Cars</span>
          </a>

          <a href="http://#" class="flex items-center py-3 px-6 hover:bg-gray-100 transition">
            <span class="text-primary1 text-xl object-contain">
              <i class="fa-solid fa-couch"></i>
            </span>
            <span class="ml-6 text-gray-600 text-xl">Sofa</span>
          </a>

          <a href="http://#" class="flex items-center py-3 px-6 hover:bg-gray-100 transition">
            <span class="text-primary1 text-xl object-contain">
              <i class="fa-solid fa-computer"></i> 
            </span>
            <span class="ml-6 text-gray-600 text-xl">Computer</span>
          </a>

          <a href="http://#" class="flex items-center py-3 px-6 hover:bg-gray-100 transition">
            <span class="text-primary1 text-xl object-contain">
              <i class='bx bxs-watch'></i>
           </span>
            <span class="ml-6 text-gray-600 text-xl">Watches</span>
          </a>
        </div> 
      </div>
      <!--all categary end -->
      <!--manu start -->
      <div class="flex items-center justify-between flex-grow pl-12">
        <div class="flex items-center space-x-4 capitalize">
          <a href="/" class="text-gray-50 hover:text-white">Home</a>
          <a href="/shop" class="text-gray-50 hover:text-white">Shop</a>
          <a href="/about" class="text-gray-50 hover:text-white">About us</a>
          <a href="/contact" class="text-gray-50 hover:text-white">contact us</a>
        </div>
        <div class="">
          <a href="/login" class="text-gray-50 border border-primary rounded px-6 py-4 hover:bg-primary">Login</a>
          <a href="/register" class="text-gray-50 hover:text-white">Register</a>
        </div>
      </div>
      <!--manu end-->
    </div>
  </nav>