<%-include("main");-%>
<%-include("header");-%>
<%-include("nevber");-%>
<!---breadcrums start -->
<div class="container py-4 flex items-center gap-3">
    <a href="/" class="text-primary text-base">
        <i class='bx bxs-home-circle'></i>
    </a>
    <span class="text-sm text-gray-600 ">
        <i class='bx bx-chevrons-right'></i>
    </span>
    <p class="font-medium text-gray-500"> My Wishlist</p>
    </div>
    <!---breadcrms end -->
    <!----account start -->
    <div class=" container lg:grid grid-cols-12 items-start gap-6 pt-4 pb-16">
        <!----sideber start -->
        <div class="col-span-3">
            <!--account pic start -->
            <div class="flex items-center px-4 py-3 shadow gap-4">
                <div class="flex-shrink-0">
                    <img src="/images/hasibul.jpg" class="rounded-full w-16 h-16 border border-gray-200 p-1 hover:border-primary object-cover">
                </div>
                <div class="flex-grow">
                    <p class="text-gray-600">Hello,</p>
                    <h4 class="text-gray-800 font-semibold">
                        Hasibul Islam
                    </h4>
                </div>
            </div>
            <!--profile link start -->
            <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
                <!--- single link start-->
                <div class="space-y-1 pl-8">
                    <a href="/account" class="text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bxs-id-card'></i></span>
                        Manage account
                    </a>
                    <a href="/profileInfo" class="hover:text-primary font-medium relative capitalize block">
                        Profile information
                    </a>

    <a href="/manageAddress" class="hover:text-primary font-medium relative capitalize block">
                        Manage address
                    </a>
                    <a href="/changepassword" class="hover:text-primary font-medium relative capitalize block">
                        change password
                    </a>
                </div>
                <!---single link end -->
                <!---single link part-2 start -->
                <div class="space-y-1 pl-8 pt-4">
                    <a href="#" class="hover:text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bx-gift'></i></span>
                        My order history
                    </a>
                    <a href="#" class="hover:text-primary font-medium relative capitalize block">
                        my returns
                    </a>
                    <a href="#" class="hover:text-primary font-medium relative capitalize block">
                        my cancellations
                    </a>
                    <a href="#" class="hover:text-primary font-medium relative capitalize block">
                        my reviews
                    </a>
                </div>
                <!--single link part -2- end -->
                <!--part-3 start -->
                <div class="space-y-1 pl-8 pt-4">
                    <a href="#" class="hover:text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bxs-credit-card'></i></span>
                        Payment methods
                    </a>
                    <a href="#" class="hover:text-primary font-medium relative capitalize block">
                        Voucher
                    </a>
                    </div>
                <!---part -3 end -->
                <!-- part -4 start -->
                <div class="space-y-1 pl-8 pt-4">
                    <a href="/wish" class="hover:text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bx-heart'></i></span>
                        my wishlist
                    </a>
                    </div>
                <!---part 4 end -->
                <!---part-5 start -->
                <div class="space-y-1 pl-8 pt-4">
                    <a href="#" class="hover:text-primary font-semibold relative capitalize block">
                        <span class="text-base absolute -left-8 top-[1px]"><i class='bx bx-log-out-circle bx-rotate-180' ></i></span>
                        logout
                    </a>
                    </div>
                <!---part-5 end -->
            </div>
            <!---profile link end -->
        </div>
        <!--sideber end -->
        <!--profile info start -->
       <div class=" col-span-9 lg:mt-0 sm:mt-4">
            <!---shipping cart start -->
            <div class="space-y-4">
                <!---single cart start -->
                <div class="flex items-center justify-between gap-7 p-4 border border-gray-200 rounded ">
                    <!--single cart img sart -->
                    <div class="w-28 flex-shrink-0">
                        <img src="images/product/product1.jpg" class="w-full">
                    </div>
                    <!---single cart ing end -->
                    <!-- single cart content start -->
                    <div class="w-1/4">
                        <h2 class="text-gray-800 mb-3 text-lg font-semibold uppercase">MADELINE sofa</h2>
                        <p class="text-gray-600 text-base">Availability: <span class="text-green-700">In Stock</span></p>
                    </div>
                    <!-- single cart content end  -->
                    <!-- product price start -->
                    <div class="">
                        <p class="text-primary text-lg font-bold ">$300.00</p>
                    </div>
                    <!---product price end -->
                    <!-- total start -->
                    <div class="">
                        <a href="#" class=" block px-6 py-2 text-center text-sm text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                            Add to cart
                        </a>
                    </div>
                    <!-- total end -->
                    <!-- delete box start  -->
                    <div class="text-gray-600 hover:text-primary cursor-pointer">
                        <i class='bx bxs-trash-alt'></i>
                    </div>
                    <!-- delete box end -->
                </div>
                <!--single cart end -->
                 <!---single cart start -->
                 <div class="flex items-center justify-between gap-7 p-4 border border-gray-200 rounded ">
                    <!--single cart img sart -->
                    <div class="w-28 flex-shrink-0">
                        <img src="images/product/product4.jpg" class="w-full">
                    </div>
                    <!---single cart ing end -->
                    <!-- single cart content start -->
                    <div class="w-1/4">
                        <h2 class="text-gray-800 mb-3 text-lg font-semibold uppercase">white bed</h2>
                        <p class="text-gray-600 text-base">Availability: <span class="text-red-700">Stock out</span></p>
                    </div>
                    <!-- single cart content end  -->
                    <!-- product price start -->
                    <div class="">
                        <p class="text-primary text-lg font-bold ">$600.00</p>
                    </div>
                    <!---product price end -->
                    <!-- total start -->
                    <div class="">
                        <a href="#" class=" block px-6 py-2 text-center text-sm text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                            Add to cart
                        </a>
                    </div>
                    <!-- total end -->
                    <!-- delete box start  -->
                    <div class="text-gray-600 hover:text-primary cursor-pointer">
                        <i class='bx bxs-trash-alt'></i>
                    </div>
                    <!-- delete box end -->
                </div>
                <!--single cart end -->
                 <!---single cart start -->
                 <div class="flex items-center justify-between gap-7 p-4 border border-gray-200 rounded ">
                    <!--single cart img sart -->
                    <div class="w-28 flex-shrink-0">
                        <img src="images/product/product8.jpg" class="w-full">
                    </div>
                    <!---single cart ing end -->
                    <!-- single cart content start -->
                    <div class="w-1/4">
                        <h2 class="text-gray-800 mb-3 text-lg font-semibold uppercase">BIANCO Chair</h2>
                        <p class="text-gray-600 text-base">Availability: <span class="text-green-700">In Stock</span></p>
                    </div>
                    <!-- single cart content end  -->
                    <!-- product price start -->
                    <div class="">
                        <p class="text-primary text-lg font-bold ">$160.00</p>
                    </div>
                    <!---product price end -->
                    <!-- total start -->
                    <div class="">
                        <a href="#" class=" block px-6 py-2 text-center text-sm text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                            Add to cart
                        </a>
                    </div>
                    <!-- total end -->
                    <!-- delete box start  -->
                    <div class="text-gray-600 hover:text-primary cursor-pointer">
                        <i class='bx bxs-trash-alt'></i>
                    </div>
                    <!-- delete box end -->
                </div>
                <!--single cart end -->
                 <!---single cart start -->
                 <div class="flex items-center justify-between gap-7 p-4 border border-gray-200 rounded ">
                    <!--single cart img sart -->
                    <div class="w-28 flex-shrink-0">
                        <img src="images/product/product9.jpg" class="w-full">
                    </div>
                    <!---single cart ing end -->
                    <!-- single cart content start -->
                    <div class="w-1/4">
                        <h2 class="text-gray-800 mb-3 text-lg font-semibold uppercase">GUYER Chair</h2>
                        <p class="text-gray-600 text-base">Availability: <span class="text-green-700">In Stock</span></p>
                    </div>
                    <!-- single cart content end  -->
                    <!-- product price start -->
                    <div class="">
                        <p class="text-primary text-lg font-bold ">$120.00</p>
                    </div>
                    <!---product price end -->
                    <!-- total start -->
                    <div class="">
                        <a href="#" class=" block px-6 py-2 text-center text-sm text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                            Add to cart
                        </a>
                    </div>
                    <!-- total end -->
                    <!-- delete box start  -->
                    <div class="text-gray-600 hover:text-primary cursor-pointer">
                        <i class='bx bxs-trash-alt'></i>
                    </div>
                    <!-- delete box end -->
                </div>
                <!--single cart end -->
                 
                 
       </div>
      
        <!---profile info end -->
    </div>
    </div>
<!--account end-->
<%-include("footer");-%>

   